---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recent Work</h1>

  {{ content }}

  <a href="/assets/documents/this-land-is-not-empty.pdf">
    <img src="/assets/images/homepage/catalog-cover.png">
  </a>

  <h1 class="page-heading">Carnegie Museum of Art & Science<br>New Albany, Indiana</h1>

  <img src="/assets/images/homepage/bernheim.jpg" width="50%">

  <a href="/assets/images/homepage/a.jpg">
    <img src="/assets/images/homepage/a.jpg">
  </a>

  <a href="/assets/images/homepage/b.jpg">
    <img src="/assets/images/homepage/b.jpg">
  </a>

  <a href="/assets/images/homepage/c.jpg">
    <img src="/assets/images/homepage/c.jpg">
  </a>

  <a href="/assets/images/homepage/d.jpg">
    <img src="/assets/images/homepage/d.jpg">
  </a>

  <!--
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  -->

</div>
