---
layout: default
---

<div class="home">

  <h1 class="page-heading" style="margin-left: 2em;">Recent Work</h1>

  {{ content }}

  <!-- update 04/11/2018 -->

  {% assign image_files = site.static_files | where: "image", true %}
  {% for myimage in image_files reversed %}
    {% if myimage.path contains 'homepage2' %}
      {% if myimage.path contains 'catalog' %}
        {% if myimage.path contains 'this-land-is-not-empty' %}
          <a href="/assets/documents/this-land-is-not-empty.pdf">
            <img src="{{ myimage.path }}">
          </a>
        {% endif %}
        {% if myimage.path contains 'true-life-novelettes' %}
          <a href="/assets/documents/true-life-novelettes.pdf">
            <img src="{{ myimage.path }}">
          </a>
        {% endif %}
      {% else %}
        {% if myimage.path contains 'bernheim' %}
          <h1 class="page-heading">Carnegie Museum of Art & Science<br>New Albany, Indiana</h1>
        {% endif %}
        <a href="{{ myimage.path }}">
          <img src="{{ myimage.path }}">
        </a>
      {% endif %}
    {% endif %}
  {% endfor %}

  <!-- update 04/11/2018 -->

  <!--
  <a href="/assets/documents/this-land-is-not-empty.pdf">
    <img src="/assets/images/homepage/catalog-cover.png">
  </a>

  <h1 class="page-heading">Carnegie Museum of Art & Science<br>New Albany, Indiana</h1>

  <img src="/assets/images/homepage/bernheim.jpg" width="50%">

  <a href="/assets/images/homepage/a.jpg">
    <img src="/assets/images/homepage/a.jpg">
  </a>

  <a href="/assets/images/homepage/b.jpg">
    <img src="/assets/images/homepage/b.jpg">
  </a>

  <a href="/assets/images/homepage/c.jpg">
    <img src="/assets/images/homepage/c.jpg">
  </a>

  <a href="/assets/images/homepage/d.jpg">
    <img src="/assets/images/homepage/d.jpg">
  </a>
  -->

  <!--
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  -->

</div>
